*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: purple;
}
.hero{
    background-color: white;
}

main{
    background-color: white;
}
footer{
    display: flex;
    justify-content: space-between;
    margin: 0 32;
    align-items: center;
}
.icon-facebook{

    background: url(./asset/facebook.png) no-repeat top left;
    background-size: 32px;
}
.icon-youtube{
    background: url(./asset/youtube.png) no-repeat top left;
    background-size: 32px;
}
.icon-accesibility{
    width: 32px;
    height: 32px;
    background-position: 0 0;
}
.iconos{
    display: flex;
}
